*,*::before,*::after {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;

    font-family: "Playfair Display", serif;

    background-color: #EEE;

    font-size: 1.2rem;

}

@keyframes bg {
    0% {
        background-image: url("/assets/u1.jpg");
    }

    33% {
        background-image: url("/assets/u2.jpg");
    }

    66% {
        background-image: url("/assets/u3.jpg");
    }
}




header {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;

    height: 95vh;

    padding: 6rem;

    animation: bg;
    animation-duration: 50s;
    animation-iteration-count: infinite;



    background-image: url("/assets/u1.jpg");
    background-size: cover;

    color: #fff;

    h1 {
        font-size: 5rem;
        font-weight: 500;
        font-style: italic;
        margin: 0;
    }

    span  {
        font-size: 1.6rem;
        font-style: italic;
    }
}

h2 {
    font-size: 2.6rem;
    margin: 0;
}

h3 {
    font-style: italic;
    margin: 0;
}


main {
    display: flex;
    flex-direction: column;
}


footer {
    width: 100%;
    min-height: 5rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: #fff;

    padding: 4rem;
}

.bi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 5rem;
    align-items: center;
    box-sizing: content-box;

    overflow: hidden;

    & > * {
        box-sizing: border-box;
    }

    & > div {
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4rem;
        max-height: 70vh;
    }
}

.center {
    text-align: center;
    display: flex;
    flex-direction: column;

    gap: 2rem;

    align-items: center;
    justify-content: center;
    margin: 10rem 0;
}

.button {
    background-color: black;
    color: #EEE;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .bi {
        grid-template-columns: 1ft;
        grid-template-rows: 1fr 1fr;
    }
}